body{
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 200px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 120px;
}

.footer-link{

}

.thumbnail{
    display: block;
    max-height: 100px;
    height: auto;
    width: auto;
}

.jumbotron{
    border-radius: 0;
}

.bg-light-gray{
    background-color: #ebebeb;
}

.chatbot{
    min-height: 400px;
    max-height: 400px;
}

.chat-bubble{
    border-radius: 10px;
    padding: 2px 6px 2px 6px;
}

.scroll {
    max-height: 200px;
    overflow-y: auto;
}