<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|stripHtml}{/ifset} – Matrace</title>

    <!-- jQuery -->
    <script type="text/javascript" src="{$basePath}/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript"
            src="{$basePath}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/fontawesome/css/all.min.css">

    <!-- Nette -->
    <script type="text/javascript" src="{$basePath}/bower_components/nette-forms/src/assets/netteForms.min.js"></script>
    <script type="text/javascript" src="{$basePath}/bower_components/nette.ajax.js/nette.ajax.js"></script>

    <link rel="icon" href="{$basePath}/favicon.png">
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/styles.css">
</head>

<body>

<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" n:href="Homepage:">
            <img src="{$basePath}/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span>Matrace spol. s r. o.</span>
        </a>

        <div class="float-right">
            <a n:href="Homepage:faq">FAQ</a>
        </div>
    </div>
</nav>

{include content}

<footer class="footer py-4 bg-dark text-white-50 mt-5 w-100">
    <div class="container">
        <div class="float-left">Copyright &copy; Matrace 2020</div>
        <div class="float-right">
            <p><span class="fa fa-phone"></span> +420 123 456 789</p>
            <p><span class="fa fa-envelope"></span> <a class="text-white" href="mailto:kontakt@matrace.cz">kontakt@matrace.cz</a></p>
        </div>
    </div>
</footer>

<script>
    $(document).ready(function () {
        $.nette.init();
    });
</script>
</body>
</html>
