{block title}Úvodní stránka{/block}
{block content}
<div class="jumbotron ">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <p class="lead">Virtuální pomocník</p>
                <span class="fa fa-comment-dots fa-4x"></span>
                <p class="small text-muted">Náš virtuální pomocník Vám pomůže vybrat tu správnou matraci přesně pro
                    Vás.</p>
            </div>
        </div>

        <iframe class="form-control chatbot" src='{$chatbotEndpoint}?s={$chatbotSecretKey}'></iframe>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto mx-auto" src="{$basePath}/resources/images/small-spring-soft.jpg"/>
                    <h6 class="mt-1">Matrace BabySpring Soft</h6>
                    <p class="small text-muted text-muted">Měkká pružinová matrace s rozměry 110x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">1 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto" src="{$basePath}/resources/images/small-foam-soft.jpg"/>
                    <h6 class="mt-1">Matrace BabyFoam Soft</h6>
                    <p class="small text-muted">Měkká pěnová matrace s rozměry 110x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">2 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto" src="{$basePath}/resources/images/small-spring-medium.jpg"/>
                    <h6 class="mt-1">Matrace BabySpring Medium</h6>
                    <p class="small text-muted">Středně tvrdá pružinová matrace s rozměry 110x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">1 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto" src="{$basePath}/resources/images/small-foam-medium.jpg"/>
                    <h6 class="mt-1">Matrace BabyFoam Medium</h6>
                    <p class="small text-muted">Středně tvrdá pěnová matrace s rozměry 110x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">2 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto" src="{$basePath}/resources/images/small-spring-hard.jpg"/>
                    <h6 class="mt-1">Matrace BabySpring Hard</h6>
                    <p class="small text-muted">Tvrdá pěnová matrace s rozměry 110x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">1 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto" src="{$basePath}/resources/images/small-foam-hard.jpg"/>
                    <h6 class="mt-1">Matrace BabyFoam Hard</h6>
                    <p class="small text-muted">Tvrdá pěnová matrace s rozměry 110x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">2 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto" src="{$basePath}/resources/images/medium-spring-soft.jpg"/>
                    <h6 class="mt-1">Matrace KidSpring Soft</h6>
                    <p class="small text-muted">Měkká pružinová matrace s rozměry 150x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">2 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto" src="{$basePath}/resources/images/medium-foam-soft.jpg"/>
                    <h6 class="mt-1">Matrace KidFoam Soft</h6>
                    <p class="small text-muted">Měkká pěnová matrace s rozměry 150x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">3 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto" src="{$basePath}/resources/images/medium-spring-medium.jpg"/>
                    <h6 class="mt-1">Matrace KidSpring Medium</h6>
                    <p class="small text-muted">Středně tvrdá pružinová matrace s rozměry 150x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">2 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto" src="{$basePath}/resources/images/medium-foam-medium.jpg"/>
                    <h6 class="mt-1">Matrace KidFoam Medium</h6>
                    <p class="small text-muted">Středně tvrdá pěnová matrace s rozměry 150x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">3 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto" src="{$basePath}/resources/images/medium-spring-hard.jpg"/>
                    <h6 class="mt-1">Matrace KidSpring Hard</h6>
                    <p class="small text-muted">Tvrdá pružinová matrace s rozměry 150x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">2 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto" src="{$basePath}/resources/images/medium-foam-hard.jpg"/>
                    <h6 class="mt-1">Matrace KidFoam Hard</h6>
                    <p class="small text-muted">Tvrdá pěnová matrace s rozměry 150x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">3 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto mx-auto" src="{$basePath}/resources/images/large-spring-soft.jpg"/>
                    <h6 class="mt-1">Matrace AdultSpring Soft</h6>
                    <p class="small text-muted text-muted">Měkká pružinová matrace s rozměry 200x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">3 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto" src="{$basePath}/resources/images/large-foam-soft.jpg"/>
                    <h6 class="mt-1">Matrace AdultFoam Soft</h6>
                    <p class="small text-muted">Měkká pěnová matrace s rozměry 200x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">4 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto" src="{$basePath}/resources/images/large-spring-medium.jpg"/>
                    <h6 class="mt-1">Matrace AdultSpring Medium</h6>
                    <p class="small text-muted">Středně tvrdá pružinová matrace s rozměry 200x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">3 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto" src="{$basePath}/resources/images/large-foam-medium.jpg"/>
                    <h6 class="mt-1">Matrace AdultFoam Medium</h6>
                    <p class="small text-muted">Středně tvrdá pěnová matrace s rozměry 200x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">4 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto mx-auto" src="{$basePath}/resources/images/large-spring-hard.jpg"/>
                    <h6 class="mt-1">Matrace AdultSpring Hard</h6>
                    <p class="small text-muted text-muted">Tvrdá pružinová matrace s rozměry 200x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">3 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-lg-3">
            <div class="card w-100">
                <div class="card-body">
                    <img class="thumbnail mx-auto" src="{$basePath}/resources/images/large-foam-hard.jpg"/>
                    <h6 class="mt-1">Matrace AdultFoam Hard</h6>
                    <p class="small text-muted">Tvrdá pěnová matrace s rozměry 200x200.</p>
                    <div class="row">
                        <div class="col-12">
                            <p class="float-left font-weight-bold">4 499 Kč</p>
                            <a class="btn btn-primary btn-sm float-right" href="#"><span
                                        class="fas fa-shopping-basket"></span> Koupit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>