{block title}Často kladené otázky{/block}
{block content}

{if $isQnaEnabled}
    <div class="jumbotron ">

        <div class="container">
            {snippet answerSnippet}
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <p class="lead">Často kladené otázky</p>

                            <span class="fa fa-question-circle fa-4x" id="icon" style="display: block"></span>
                            <span class="fa fa-circle-notch fa-spin fa-4x" id="icon-searching"
                                  style="display: none"></span>
                            <p class="text-muted small" id="icon-text">chytré vyhledávání</p>

                            {control questionForm}
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        {control questionAnswer}
                    </div>
                </div>

                <script>
                    var icon = $("#icon").get(0);
                    var iconSearching = $("#icon-searching").get(0);
                    var iconText = $("#icon-text").get(0);

                    function showSpinner() {
                        icon.style.display = "none";
                        iconSearching.style.display = "block";
                        iconText.innerText = "Vyhledávám...";
                    }

                    var form = $("#faq-form").on('submit', function (e) {
                        e.preventDefault();
                        showSpinner();
                    })
                </script>
            {/snippet}
        </div>
    </div>
{/if}


<div class="container">
    <div class="row mt-4">
        <div class="col-12">
            <div id="accordion">
                <div class="card">
                    <div class="card-header bg-light" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                <span>Je opravdu doprava zdarma?</span>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <span class="small">Ano, dopravu nabízíme na všechny matrace zdarma po celé ČR i SR. Zboží posíláme přes kurýrní službu Toptrans či rozvážíme osobně. Doprava je zpoplatněna pouze u polštářů, roštů, postelí, nebo pokud objednávka nepřesáhne částku 4.000,- Kč.</span>
                        </div>
                    </div>
                </div>

                <div class="card mt-2">
                    <div class="card-header bg-light" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                <span>Za jak dlouho obdržím objednanou matraci?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <span class="small">Dodací lhůta objednaných matrací je 14 dní. Máme však kolem 1000 matrací skladem a ty odesíláme nejpozději následující pracovní den po objednání.
                            Každého zákazníka telefonicky kontaktujeme a domlouváme se společně na konkrétní den doručení.</span>
                        </div>
                    </div>
                </div>

                <div class="card mt-2">
                    <div class="card-header bg-light" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                <span>Nevím si rady s výběrem matrace, poradíte mi?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                         data-parent="#accordion">
                        <div class="card-body">
                            <p class="small">
                                Ano, velmi rádi, stačí nám napsat e-mail na <a href="mailto:kontakt@matrace.cz">kontakt@matrace.cz</a>,
                                nebo zavolat na tel.číslo +420 123 456 789.
                                Při dotazu uveďte rozměr požadované matrace, váhové zatížení, podklad (pevný, lamelový
                                nebo motorový rošt).
                            </p>
                            <p class="small">
                                Pokud potřebujete poradit ihned můžete vyzkoušet našeho virtuálního pomocníka, kterého
                                naleznete na <a n:href="Homepage:">hlavní stránce</a>.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card mt-2">
                    <div class="card-header bg-light" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                <span>Dodáváte matrace stočené - komprimované ?</span>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <span class="small">Ne, matrace dodáváme v nekomprimovaném stavu, tzn.v celém profilu. Tento požadavek uveďte do poznámky ve Vaší objednávce.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <div class="small">
                <p class="text-muted">Nenalezli jste odpověď na vaši otázku? Vyzkoušejte našeho virtuální pomocníka na
                    <a n:href="Homepage:">hlavní stránce</a>, který Vám pomůže s výběrem matrace.</p>
                <p class="text-muted">Také můžete využít chytré vyhledávání výše pro nalezení odpovědi na Vaši
                    otázku.</p>
            </div>
        </div>
    </div>
</div>