{if !empty($answer) && !empty($answer['answers'])}
    {foreach $answer['answers'] as $ans}
        {if !empty($ans['questions']) && is_array($ans['questions'])}
            <div class="card shadow-sm">
                <div class="card-header">
                    <span class="small">Na Váš dotaz jsme nalezli následující odpověď</span>
                </div>
                <div class="card-body">
                    <p class="small"><span class="font-weight-bold">Otázka:</span> {$ans['questions'][0]}</p>
                    <p class="small"><span class="font-weight-bold">Odpověď:</span> {$ans['answer']|breakLines}
                    </p>
                </div>
            </div>
        {else}
            <p class="small text-muted text-center"><span class="fa fa-exclamation-circle"></span> Nebyla nalezena žádná odpověď.</p>
        {/if}
    {/foreach}
{/if}